<Project>
  <PropertyGroup>
    <PublishProtocol>Msix</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <TargetFramework>net9.0-windows10.0.19041.0</TargetFramework>
    <PublishDir>bin\Release\net9.0-windows10.0.19041.0\publish\</PublishDir>
    <GenerateAppInstallerFile>false</GenerateAppInstallerFile>
    <PackageCertificateThumbprint>CN=MiAppFirma</PackageCertificateThumbprint> <!-- Solo ejemplo -->
  </PropertyGroup>
</Project>
